<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Payment Types</h1>
    </section>



    <section class="content">
        <div class="row">
            <div id='content' ng-app='myApp' ng-controller='PaymentTypeListCtrl'>
                <div class="col-xs-12">
                    <button class="btn btn-primary mb15 pull-right" ng-click="createNewPaymentType()">Add</button>
                    <div class="box">

                        <div class="box-body table-responsive" style="width:2600px;">
                            <table class="table table-bordered table-striped">
                                <thead class="gra head-custom ">
                                    <tr>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                        <th>Payment Type</th>
                                        <th>Name</th>
                                        <th>Short Code</th>
                                        <th>Deposit Slip</th>
                                        <th>Include in Bank File</th>
                                        <th>Valid to Pay Mem Acc</th>
                                        <th>B/Acct Required</th>
                                        <th>Confirmation Required</th>
                                        <th>Reference Required</th>
                                        <th>Credit Card Required</th>
                                        <th>Payee Required</th>
                                        <th>Clearance Required</th>
                                        <th>Payment Required</th>
                                        <th>Affects Bank Account</th>
                                        <th>Valid For</th>
                                        <th>Default Direct Pay Type</th>
                                        <th>Inspecie Benefit Payment</th>

                                    </tr>
                                </thead>


                                <tbody class="tbody-custom">
                                    {{#each payment-type as payType}}
                                    <tr>
                                        
                                        <td class="text-center">
                                            <button class="glyphicon glyphicon-edit no-btn-bg" title="Edit" data-toggle="modal" href="#editModal"></button>
                                        </td>
                                        <td class="text-center">
                                            <button class="glyphicon glyphicon-remove no-btn-bg" title="Delete" data-toggle="modal"></button>

                                        </td>
                                        <td>{{payType.paymentType}}</td>
                                        <td>{{payType.name}}</td>
                                        <td>{{payType.shortCode}}</td>
                                        <td>{{payType.depositSlipFlag}}</td>
                                        <td class="text-center"> {{input disabled="true" type="checkbox" value=payType.includeInBankFile }}</td>



                                        <td class="text-center">{{input disabled="true" type="checkbox" value=payType.bankAccountRequiredFlag }}</td>

                                        <td>{{payType.inoutFlag}}</td>

                                        <td class="text-center">{{input disabled="true" type="checkbox" value=payType.confirmationRequiredFlag }}</td>
                                        <td class="text-center">{{input disabled="true" type="checkbox" value=payType.referenceRequiredFlag }}</td>
                                        <td class="text-center">{{input disabled="true" type="checkbox" value=payType.creditCardRequiredFlag }}</td>
                                        <td class="text-center">{{input disabled="true" type="checkbox" value=payType.payeeRequiredFlag }}</td>
                                        <td class="text-center">{{input disabled="true" type="checkbox" value=payType.clearanceRequiredFlag }}</td>
                                        <td class="text-center">{{input disabled="true" type="checkbox" value=payType.paymentRequiredFlag }}</td>
                                        <td class="text-center">{{input disabled="true" type="checkbox" value=payType.affectsBankAccountFlag }}</td>
                                        <td class="text-center">{{input disabled="true" type="checkbox" value=payType.maccPaymentFlag }}</td>
                                        <td>{{payType.defaultDirectPayTypeCode}}</td>


                                        <td class="text-center">{{input disabled="true" type="checkbox" value=payType.inspecieTransferFlag }}</td>

                                        
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>





                        </div>

                    </div>
                    <!-- pagination button start -->
                    <div class="pull-right">
                        <button class="btn btn-default mr5" >
                            &laquo; Prev

                        </button>
                        
                        <button class="btn btn-default ml5">
                            &raquo; Next
                        </button>
                    </div>
                    <!-- pagination button ends -->


                </div>
            </div>
        </div>
    </section>
</aside>